
/* #navbar {
    margin-bottom: 1.5em;
} */


/* Pokemon info */


/* MEDIA QUERIES */

@media only screen and (min-width: 1536px) {

    .MuiContainer-root {
        max-width: 100%!important;
    }

    #types-count-2 .pokemon-type {
        max-width: 13%;
        /* margin: 5% 15%; */
    }
  }