

// Color types
$color-bug: #83C300;
$color-dark: #5b5466;
$color-dragon: #006fc9;
$color-electric: #fbd100;
$color-fairy: #fb89eb;
$color-fighting: #e0306a;
$color-fire: #ff9741;
$color-flying: #89aae3;
$color-ghost: #4c6ab2;
$color-grass: #38bf4b;
$color-ground: #e87236;
$color-ice: #4cd1c0;
$color-normal: #919aa2;
$color-poison: #b567ce;
$color-psychic: #ff6675;
$color-rock: #c8b686;
$color-steel: #5a8ea2;
$color-water: #3692dc;